<h1> InstaCopy </h1>

<% @posts.each do |post| %>
			<div class="post">
  			<p class="image"><%= image_tag post.image.url(:medium) %></p>
  			<p class="caption"><%= post.caption %></p>
			</div>
		<% end %>
